// Colors
$gray-dark:         #252525;
$gray-med-1:        #666666;
$gray-med-2:        #8f8f8f;
$gray-light:        #dcdcdc;
$white:             #fff;

$brown:             #7a3f00;
$orange:            #e77300;
$orange-light:      #ff9d00;
$orange-lighter:    #f8cd9c;
$yellow:            #fabd00;

$green-darker:      #2e4222;
$green-dark:        #44783d;
$green-med:         #81ac54;
$green-light:       #a9e171;
$green-lighter:     #c7de9f;


// Breakpoints
$screen-sm:         768px;
$screen-md:         992px;
$screen-lg:         1200px;
