<div class="app">
  <nav class="nav" [ngClass]="{'home': currentPage === '/'}">
    <div class="logo">
      <a routerLink="/"
        routerLinkActive
        #rla="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <img *ngIf="!rla.isActive" alt="Seattle Beer" class="logo__img" src="assets/images/seattle-beer-logo-new-grey_v2.svg">
        <img *ngIf="!rla.isActive" alt="Seattle Beer" class="logo__img--m" src="assets/images/sb_logo.svg">
        <img *ngIf="rla.isActive" alt="Seattle Beer" class="logo__img" src="assets/images/seattle-beer-logo-new-black_v2.svg">
        <img *ngIf="rla.isActive" alt="Seattle Beer" class="logo__img--m" src="assets/images/sb_logo_black.svg">
      </a>
    </div>
    <a *ngIf="rla.isActive && !authService.isLoggedIn()" class="home-login" [routerLink]="'/login'">Login</a>
    <a *ngIf="rla.isActive && authService.isLoggedIn()" class="home-login" (click)="authService.logout()">Logout</a>
    <ul *ngIf="!rla.isActive">
      <li
        *ngFor="let item of nav"
        [ngClass]="{'just-text': !item.image}"
      >
        <a [routerLink]="item.link" *ngIf="item.image">
          {{ item.name }}<img [src]="item.image" [alt]="item.name">
        </a>
      </li>
      <li>
        <a *ngIf="!authService.isLoggedIn()" class="login" [routerLink]="'/login'">Login</a>
        <a *ngIf="authService.isLoggedIn()" class="login" (click)="authService.logout()">Logout</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
