@import '../../../../styles/variables.scss';
@import '../../../../styles/type.scss';

.brewery-list {
  padding-bottom: 15px;
  padding-top: 1px;
  margin-top: -1px;

  &__filters {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 30px;

    .search-input {
      width: 100%;
    }

    .visited-filters {
      margin: 15px 0;
      width: 100%;
    }

    @media (min-width: $screen-sm) {
      flex-direction: row;

      .search-input {
        width: 100%;
      }

      .visited-filters {
        width: 100%;
      }
    }
  }

  input[type="text"] {
    box-sizing: border-box;
    margin: 20px 0 15px;
    padding: 0 15px;
    height: 45px;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 0;
    box-shadow: 0 10px 10px -8px rgba($gray-med-2, 0.5);
    font-size: 20px;
    text-indent: 5px;
    @extend .hand;

    &::placeholder {
      color: $gray-med-1;
    }

    @media (min-width: $screen-sm) {
      // margin: 40px 30px;
      width: calc(100% - 30px);
      margin: 40px 0;
      float: left;
    }
  }

  .visited-filters {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding: 0 30px;
    border: none;

    > div {
      margin-right: 30px;
    }
  }

  .list-container {
    padding: 0 10px;
  }

  .no-matches {
    padding-top: 30px;
    clear: both;
    font-size: 20px;
    color: $gray-dark;
    text-align: center;
  }
}
