@import './styles/variables.scss';
@import './styles/type.scss';

body {
  margin: 0;
  background-color: $gray-light;
  font-size: 14px;

  @media (min-width: $screen-sm) {
    font-size: 16px;
  }
}

a {
  color: $green-med;
  text-decoration: none;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $green-darker;
  }
}

p {
  margin: 0.4em 0;

  @media (min-width: $screen-sm) {
    margin: 1em 0;
  }
}

.heading-no-top {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

// crazy infoWindow positioning hack
.gm-style-pbc ~ div {
  > div > div:last-child {
    top: -25px !important;
    left: -1px !important;
  }
}

.gm-style .gm-style-iw-c {
  border-radius: 2px;
}

button.gm-ui-hover-effect {
  display: none !important; // override inline style
}

.gm-style-iw {
  .agm-info-window-content {
    min-width: 300px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

    h3 {
      margin: 0;
      padding-right: 50px;
      font-size: 20px;
      font-weight: 300;
      color: $orange;
    }

    p {
      margin-bottom: 10px;
    }

    .visited-toggles {
      .brewery-detail__button {
        bottom: 19px;
        right: 13px;
      }
    }

    button.close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  & ~ button[title="Close"] {
    display: none !important;
  }
}

.loader {
  position: relative;
  display: block;
  margin: calc(50vh - 22px) auto;
  padding: 0 0 0 50px;
  height: 45px;
  width: 42px;
  line-height: 0;
  transform: scale(0.8);

  @keyframes myOrbit {
    0% { transform: rotate(0deg) translate(-35px, -15px) rotate(0deg); }
    40% { transform: rotate(-360deg) translate(-35px, -15px) rotate(0deg); }
    100% { transform: rotate(-360deg) translate(-35px, -15px) rotate(0deg); }
  }

  @keyframes appear1 {
    0% {
      transform: translate(-35px, -15px);
      opacity: 0;
    }
    35% {
      transform: translate(-35px, -15px);
      opacity: 0;
    }
    50% {
      transform: translate(-50px, -22px);
      opacity: 1;
    }
    98% {
      transform: translate(-50px, -22px);
      opacity: 1;
    }
    100% {
      transform: translate(-35px, -15px);
      opacity: 0;
    }
  }

  @keyframes appear2 {
    0% {
      transform: translate(-50px, -22px);
      opacity: 0;
    }
    43% {
      transform: translate(-50px, -22px);
      opacity: 0;
    }
    58% {
      transform: translate(-64px, -30px);
      opacity: 1;
    }
    97% {
      transform: translate(-64px, -30px);
      opacity: 1;
    }
    100% {
      transform: translate(-50px, -22px);
      opacity: 0;
    }
  }

  &__bar {
    position: absolute;
    width: 37px;
    height: 44px;
    background-image: url('./assets/images/drop1.svg');
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    &:nth-child(1) {
      animation-name: myOrbit;
      z-index: 3;
    }

    &:nth-child(2) {
      width: 36px;
      height: 42.5px;
      background-image: url('./assets/images/drop2.svg');
      animation-name: appear1;
      z-index: 2;
    }

    &:nth-child(3) {
      width: 36px;
      height: 42.5px;
      background-image: url('./assets/images/drop3.svg');
      animation-name: appear2;
      z-index: 1;
    }
  }
}

.btn {
  margin: 10px 0;
  padding: 15px 0;
  width: 220px;
  background-color: $yellow;
  background-size: 25px 25px;
  background-position: 35px 10px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba($black, 0.15);
  text-align: center;
  font-size: 12px;
  transition: transform 0.3s, background-color 0.5s;

  &--icon {
    text-align: left;
    padding: 15px 0 15px 70px;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
  }

  &--link {
    display: inline;
    padding: 0;
    margin: 0;
    width: auto;
    box-shadow: none;
    background-color: transparent;
    border: none;
    color: $gray-light;

    &:hover,
    &:focus {
      transform: none;
      text-decoration: underline;
    }
  }
}

button.close {
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $white;
  outline: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 14px;
    left: 0;
    width: 25px;
    height: 1px;
    background-color: $gray-dark;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.brewery-detail__button {
  position: absolute;
  bottom: 11px;
  right: 10px;
  width: 80px;
  padding: 5px 0 7px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 300;
  background-color: transparent;
  transition: transform 0.3s, background-color 0.5s, opacity 0.5s, color 0.5s;

  &.button-check-in {
    border-color: $green-med;
    color: $green-med;

    &:hover {
      background-color: $green-med;
      color: $white;
    }
  }

  &.button-reset {
    border-color: $orange;
    color: $orange;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
  }
}

.form-group {
  position: relative;
  margin: 0 auto;
  width: 260px;

  label {
    position: absolute;
    top: 10px;
    left: 0;
    transform: translate(15px, 34px) scale(1);
    font-weight: 400;
    font-size: 1em;
    transition: transform 0.3s;
  }

  input:not([type="checkbox"]) {
    margin: 30px 0 0;
    padding: 15px;
    width: 260px;
    border-radius: 4px;
    border: 1px solid $gray-light;
    outline: none;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 300;

    &:focus {
      border-color: $orange;

      & ~ label {
        transform: translate(0, 0) scale(0.75);
      }
    }

    &.ng-touched.ng-valid {
      & ~ label {
        transform: translate(0, 0) scale(0.75);
      }
    }
  }
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

label.checkbox {
  position: relative;
  padding-right: 35px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  word-wrap: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px rgba($gray-dark, 0.3);
    box-sizing: border-box;
    background-color: $white;
  }
}

input[type="checkbox"]:disabled ~ label {
  cursor: not-allowed;

  &::before {
    border: 1px solid rgba($gray-dark, 0.15);
    box-shadow: none;
    background-color: rgba($white, 0.75);
  }
}

input[type="checkbox"]:checked ~ label {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    background-color: $yellow;
  }
}
